@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2efe9;
  --foreground: #403529;
}

.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white; /* Adjust as needed */
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Avenir, Helvetica, sans-serif;
}

.z-50 {
  z-index: 50;
}
